{% extends "base.html.twig" %}
{% block title %}
  {{ parent() }} Accueil {% endblock %}
  {% block contenu %} 
    <h1>Bienvenue sur le gestionnaire de stock </h1>
    <div style="padding-top:5%">
      <div class="panel panel-default">
      <!-- Table -->
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <tr><th>Type de produit </th><th>Quantité</th><th>Stock</th><th>Image</th><th>Commentaire</th><th>+</th><th>-</th></th></tr>

            {% for t in liste %}
                <tr><td>{{t.libelle}}</td>
                
                {# <td data-th="Quantity"> 
								<input type="number" class="form-control text-center" value="{{ t.qte }}"> #}

							</td><td>{{t.qte}}</td><td>{{t.stock}}</td><td>{{t.image}}</td><td>{{t.commentaire}}</td>

              <td><div class="btn-group btn-group-lg"><input type="submit" name="btAjouter" value="+"/></div></td>
              <td>  <div class="btn-group btn-group-lg"><a href="index.php?page=panier&idProduit={{r.idProduit}}&idPanier={{ r.idPanier }}">
                                            <span class="glyphicon glyphicon-trash" ariahidden="true"></span></a></div></td>

              </tr>
                                            
            {% endfor %}  



          </table>
        </div>
      </div>
    </div>
    
    <script src="js/test.js"></script>
  {% endblock %} 

