{% extends "base.html.twig" %}
{% block title %}
  {{ parent() }} Accueil {% endblock %}
  {% block contenu %} 
    <h1>Bienvenue sur le gestionnaire de stock </h1>
                 
      <!--////////////////////////////////////////////////////////////////////////////////////////!-->

      <!--////////////////////////////////////////////////////////////////////////////////////////!-->


    <div style="padding-top:0%">
            <div style="padding-top:2%">
<h3> Liste des types de produits : </h3>
</div>
      <div class="panel panel-default">
      <!-- Table -->

        {% for t in liste %}
        <div class="table-responsive">
          <table class="table table-hover">
            <tr class="table-active" ><th></th><th scope="row">Type de produit </th><th scope="col">Quantité totale</th><th scope="col">Stock</th></th></tr>

           {#  {% for t in liste %} #}
                <tr>
                
                <td> 
                       <a href="#" onclick="document.getElementById('listeproduit{{t.libelle}}').style.display='block';">
                                            <span class="glyphicon glyphicon-chevron-down" ariahidden="true"></span></a>
                            <a href="#" onclick="document.getElementById('listeproduit{{t.libelle}}').style.display='none';"><span class="glyphicon glyphicon-chevron-up" ariahidden="true"></span></a>
                </td>
                
                
                <td>{{t.libelle}}
                 
                
                </td>
                
                
                {# <td data-th="Quantity"> 
								<input type="number" class="form-control text-center" value="{{ t.qte }}"> #}

							</td><td>
              
                {% if t.TotalQte <= "0" %}
                 <FONT color="red"> 
                      <b>
                        {{t.TotalQte}}
                      </b>
                    </FONT> 
                {% else %} 
                {{t.TotalQte}} 
              {% endif %}
              
              </td><td>
              

                {% if t.TotalQte <= "0" %}
                 <FONT color="red"> 
                      <b>
                        rupture de stock
                      </b>
                    </FONT> 
                {% else %} 
                en stock
              {% endif %}
              
              
              </td>
              </tr>
                                            
            {# {% endfor %}   #}



          </table>
        </div>

        <!--///////////////////////////////LISTE PRODUITS DANS LISTE TYPE PRODUIT/////////////////////////////////////////////////-->

                <div class="panel panel-default" >
          <div class="table-responsive" id="listeproduit{{t.libelle}}"  style="display:none">
          {# <table class="table table-hover table-striped"  > #}
          <table class="table table-hover">
            
            <tr class="table-secondary" ><th scope="row" >Nom du produit </th><th scope="row" >Quantité</th><th scope="row">Fabricant</th><th scope="row">Stock</th><th scope="row">Commentaire</th><th scope="row">+</th><th scope="row">-</th></th></tr>

            {% for s in liste2 %}{# 
            {% if libelleHidden == s.libelleType %} #}
                <tr class="table-dark" > <td>{{s.libelle}}</td>
                
                {# <td data-th="Quantity"> 
								<input type="number" class="form-control text-center" value="{{ t.qte }}"> #}

							</td><td>
              
              
              {% if s.qte <= s.seuil %}
                {% if s.qte >= "1" %}
                    <FONT color="orange"> 
                      <b>
                        {{s.qte}}
                      </b>
                    </FONT>
                {% else %} 
                    <FONT color="red"> 
                      <b>
                        {{s.qte}}
                      </b>
                    </FONT> 
                {% endif %}
              {% else %} 
                {{s.qte}}
              {% endif %}
              
              </td><td>{{s.fabricant}}</td><td>

              {% if s.qte <= s.seuil %}
                {% if s.qte >= "1" %}
                    <FONT color="orange"> 
                      <b>
                        Encore en stock mais seuil atteint
                      </b>
                    </FONT>
                {% else %} 
                    <FONT color="red"> 
                      <b>
                        produit en rupture de stock
                      </b>
                    </FONT> 
                {% endif %}
              {% else %} 
                produit en stock
              {% endif %}
              
              </td><td>
               <form action="index.php" method="post">
                <input type='hidden' id="id" name="id"  value="{{ s.id }}"/>
                <textarea type='message' cols="1" rows="2" class="form-control" size="10" id="commentaire" name="commentaire"  value="{{s.commentaire}}">{{s.commentaire}}</textarea>
              <div class="btn-group btn-group-lg"><input type="submit" name="btModifCom" value="Modifier"/></div>
              
              </form>
            
              </td>

              <td>
              <a name="monAncre{{t.libelle}}"></a>
               <form action="index.php#monAncre" method="post" >
                <input type='hidden' id="id" name="id"  value="{{ s.id }}"/>
                <input type='hidden' id="qte" name="qte"  value="1"/>
              <input type="submit" name="btAugmenterQte" value="+"/>
              </form>
              
              </td>
              <td>
              <form action="index.php" method="post">
                <input type='hidden' id="id" name="id"  value="{{ s.id }}"/>
                <input type='hidden' id="qte" name="qte"  value="1"/>
              <div class="btn-group btn-group-lg"><input type="submit" name="btBaisserQte" value="-"/></div>
              </form>
                          {% if s.qte <= s.seuil %}
                {% if s.qte >= "1" %}
                    <script>alert("le seuil est atteint pour le produit : {{s.libelle}} ")</script>
                {% else %} 
                    <script>alert("Rupture de stock pour le produit : {{s.libelle}}")</script>
                {% endif %}
              {% endif %}

              </td>
              </tr>
            {# {% endif %} #}                                
            {% endfor %}  

          </table>
        </div>

      </div>

        {% endfor %}  
        </div>
        
        <a href="index.php?page=ajout-type">Ajouter un nouveau type de produit</a>




        <!--/////////////////////////////////LISTE PRODUIT//////////////////////////////////////////////////////////////////////////////////-->

        <div style="padding-top:2%">
<h3> Liste des produits : </h3>
</div>
          <div class="panel panel-default" >
          <div class="table-responsive">
          <table class="table table-hover table-striped">
          
            <tr><th>Nom du produit </th><th>Quantité</th><th>Fabricant</th><th>Stock</th><th>Commentaire</th><th>+</th><th>-</th></th></tr>

            {% for s in liste2 %}
                <tr><td>{{s.libelle}}</td>
							</td><td>
              
              
              {% if s.qte <= s.seuil %}
                {% if s.qte >= "1" %}
                    <FONT color="orange"> 
                      <b>
                        {{s.qte}}
                      </b>
                    </FONT>
                {% else %} 
                    <FONT color="red"> 
                      <b>
                        {{s.qte}}
                      </b>
                    </FONT> 
                {% endif %}
              {% else %} 
                {{s.qte}}
              {% endif %}
              
              </td><td>{{s.fabricant}}</td><td>

              {% if s.qte <= s.seuil %}
                {% if s.qte >= "1" %}
                    <FONT color="orange"> 
                      <b>
                        Encore en stock mais seuil atteint
                      </b>
                    </FONT>
                {% else %} 
                    <FONT color="red"> 
                      <b>
                        produit en rupture de stock
                      </b>
                    </FONT> 
                {% endif %}
              {% else %} 
                produit en stock
              {% endif %}
              
              </td><td>
               <form action="index.php" method="post">
                <input type='hidden' id="id" name="id"  value="{{ s.id }}"/>
                <textarea type='message' cols="1" rows="2" class="form-control" size="10" id="commentaire" name="commentaire"  value="{{s.commentaire}}">{{s.commentaire}}</textarea>
              <div class="btn-group btn-group-lg"><input type="submit" name="btModifCom" value="Modifier"/></div>
              </form>
              
              
              </td>

              <td>
              
              
               <form action="index.php" method="post">
                <input type='hidden' id="id" name="id"  value="{{ s.id }}"/>
                <input type='hidden' id="qte" name="qte"  value="1"/>
              <div class="btn-group btn-group-lg"><input type="submit" name="btAugmenterQte" value="+"/></div>
              </form>


              
              </td>
              <td>
              <form action="index.php" method="post">
                <input type='hidden' id="id" name="id"  value="{{ s.id }}"/>
                <input type='hidden' id="qte" name="qte"  value="1"/>
              <div class="btn-group btn-group-lg"><input type="submit" name="btBaisserQte" value="-"/></div>
              </form>
                          {% if s.qte <= s.seuil %}
                {% if s.qte >= "1" %}
                    <script>alert("le seuil est atteint pour le produit : {{s.libelle}} ")</script>
                {% else %} 
                    <script>alert("Rupture de stock pour le produit : {{s.libelle}}")</script>
                {% endif %}
              {% endif %}

              </td>




              </tr>
                                            
            {% endfor %}  




          </table>
        </div>
        
           

      </div>
      <a href="index.php?page=ajout-sousproduit">Ajouter un nouveau produit</a>
    </div>


    
              
      <!--////////////////////////////////////////////////////////////////////////////////////////!-->

      <!--////////////////////////////////////////////////////////////////////////////////////////!-->



    {# <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> #}
    {# <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/test.js"></script>
    {% endblock %} 

