{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}

{% block contenu %} 
  <div style="text-align:center; padding-top:5%; padding-bottom:3%">
    <h1 class="animate__animated animate__flipInX">Bienvenue sur le gestionnaire de stock </h1>
  </div>
  <!--Messages lors de l'envoi d'un form-->
{#  {% if form.valide is defined %}     
    {% if form.valide == true %}
      <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>       
    {% else %}         
      <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>     
    {% endif %}         
  {% endif %} #}

  <div style="padding-top:0%">
    <div style="padding-top:2%">
      <h3> Liste des types de produits : </h3>
    </div>
    <div class="panel panel-default">

  <a class="open-button" style="cursor: pointer; hover; text-decoration:none;">
    <div class="card text-white bg-dark mb-3" style="max-width: 100%; margin-left: auto; margin-right: auto; width: ...; border-radius:20px">
      <div class="card-body">
        <h6 class="card-title">

<style>
tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}

tbody tr {
  background-image: url(noise.png);
}

table {
  background-color: #ff33cc;
}
</style>

    <div class="animate__animated animate__bounceIn" style="border-radius:20px;">
          <table class="table table-hover" style="border-collapse: collapse; border: 2px solid; background: black; color: white;">
            <tr class="table-primary"><th>&emsp;</th><th scope="row">Type de produit </th><th scope="col">Quantité totale</th><th scope="col">Stock</th></th></tr>
            {# <tr class="table-dark" style="visibility:visible;"> #}
      {% for t in liste %}
        <div class=" animate__animated animate__bounceIn" style="border-radius:20px; visibility: hidden">
          <table class="table table-hover;" style="visibility: hidden; border-collapse: collapse; border: 2px solid; background: black; color: white;">
            <tr style="visibility: collapse"><th></th><th scope="row">Type de produit </th><th scope="col">Quantité totale</th><th scope="col">Stock</th></th></tr>
            <tr scope="row" class="table-dark" style="visibility: visible">
            <div {# style="visibility: visible;" #}>
                
              <td scope="row"> 
                <span style="cursor: pointer;" class="open-button" onclick="ajoutEffet(); document.getElementById('listeproduit{{t.libelle}}').style.display='block';" class="glyphicon glyphicon-chevron-down" ariahidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                  <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
                </span>
                <span style="cursor: pointer;" class="open-button" onclick="ajoutEffet(); document.getElementById('listeproduit{{t.libelle}}').style.display='none';" class="glyphicon glyphicon-chevron-up" ariahidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                  <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/></svg>
                </span>
              </td>


              <script>
                //const element = document.querySelector('listeproduit{{t.libelle}}');
                function ajoutEffet() {
                  const listepdt = document.getElementById('listeproduit{{t.libelle}}');
                  //const element = document.querySelector('listeproduit{{t.libelle}}');
                  listepdt.classList.add('animate__animated', 'animate__bounceOutLeft');
                }
              </script>
                
              <td scope="row">{{t.libelle}}</td>
                
				      <td scope="row">
                <div id="output__{{ t.id }}" name="output">
                  {% if t.TotalQte <= "0" %}
                    <FONT color="red" class="animate__animated animate__heartBeat"> 
                      <b>
                        {{t.TotalQte}}
                      </b>
                    </FONT> 
                  {% else %}
                    {{t.TotalQte}}
                  {% endif %}
                </div>
              
              </td>
              <td scope="row">
              <div id="outputt__{{ t.id }}" name="outputt">
                {% if t.TotalQte <= "0" %}
                  <FONT color="red" class="animate__animated animate__heartBeat"> 
                    <b>
                      Rupture de stock
                    </b>
                  </FONT> 
                {% else %} 
                  En stock
                {% endif %}
                </div>
              </td>
              </div>
            </tr>
          </table>
        </div>

<!--///////////////////////////////LISTE PRODUITS DANS LISTE TYPE PRODUIT/////////////////////////////////////////////////-->

        <div style="padding-left:5%; padding-right:5%">
          <div class="panel panel-default" >
            <div class="table-responsive animate__animated animate__fadeIn" id="listeproduit{{t.libelle}}"  style="display:none; {# border-radius:20px #}">
              <table class="table table-hover" style="border-collapse: collapse; border: 2px solid; background: black; color: white;">
                <tr class="table-success"><th scope="row" >Nom du produit </th><th scope="row">Quantité</th><th scope="row">Fabricant</th><th scope="row">Référence</th><th scope="row">Stock</th><th scope="row">Commentaire</th><th scope="row">+</th><th scope="row">-</th><th></th><th></th></th></tr>
            
                {% for s in liste2 %}
                {% if t.id == s.idTypeproduit %}
                <tr class="table-secondary" style="border-radius:20px" > 
                  <td>{{s.libelle}}</td>
							    <td>
                    <div id="output{{ s.id }}_{{ t.id }}" name="output">
                      {% if s.qte <= s.seuil %}
                        {% if s.qte >= "1" %}
                          <FONT color="orange" class="animate__animated animate__heartBeat"> 
                            <b>
                              {{s.qte}}  
                            </b>
                          </FONT>
                        {% else %} 
                          <FONT color="red" class="animate__animated animate__heartBeat"> 
                            <b>
                              {{s.qte}}
                            </b>
                          </FONT> 
                        {% endif %}
                      {% else %} 
                        {{s.qte}}
                      {% endif %}
                    </div>
                  </td>
                  <td>{{s.fabricant}}</td>
                  <td>{{s.reference}}</td>
                  <td>
                    <div id="outputt{{ s.id }}_{{ t.id }}" name="output">
                      {% if s.qte <= s.seuil %}
                        {% if s.qte >= "1" %}
                          <FONT color="orange" class="animate__animated animate__heartBeat"> 
                            <b>
                              Encore en stock mais seuil atteint
                            </b>
                          </FONT>
                        {% else %} 
                          <FONT color="red" class="animate__animated animate__heartBeat"> 
                            <b>
                              Produit en rupture de stock
                            </b>
                          </FONT> 
                        {% endif %}
                      {% else %} 
                        Produit en stock
                      {% endif %}
                    </div>
                  </td>
                  <td>

                  </div>
                  </div>
                  
                      <form action="index.php" method="post">
                        <span class="ress{{ s.id }}_{{t.id}}" name="output">
                        {{s.commentaire}}<br>
                        
                        <input type='hidden' id="idCT{{ t.id }}" name="idT"  value="{{ t.id }}"/>
                        <input type='hidden' id="idC{{ s.id }}" name="id"  value="{{ s.id }}"/>
                        <textarea type='message' cols="1" rows="1" class="form-control"  id="commentaire{{ s.id }}" name="commentaire" value="{{s.commentaire}}"></textarea>
                        </span>
                        <button onclick="refresh4()" type="button" id-com="{{ s.id }}" id-comt="{{t.id}}" name="btModifCom" class="btn btn-sm btn-primary" value="Modifier">Modifier</button>
                        <span class="res{{ s.id }}"></span>
                      </form>
                    <script type="text/javascript">
                      var auto_refresh = setInterval(
                      function refresh4()
                      { 
                        $('#check{{ s.id }}_{{ t.id }}').load('index.php #check{{ s.id }}_{{ t.id }}').fadeIn('slow');
                      }, 10000);
                    </script>
                  </td>

                  <td>
                    <a name="monAncre{{t.libelle}}"></a>
                    <form action="index.php" method="post" >
                      <input type='hidden' id="idPT{{ t.id }}" name="idT"  value="{{ t.id }}"/>
                      <input type='hidden' id="idP{{ s.id }}" name="id"  value="{{ s.id }}"/>
                      <input type='hidden' id="qte{{ s.id }}" name="qte"  value="1"/>
                
                      <div id="btbt{{ s.id }}_{{ t.id }}" >
                        <button onclick="refresh(); refresh2(); refresh3()" class="btn btn-sm btn-primary" type="button" id-plust="{{t.id}}" id-plus="{{ s.id }}" name="btAugmenterQte" value="+"> + </button>
                      </div>
                    </form>
                  </td>

                  <td>
                    <form action="index.php" method="post">
                      <input type='hidden' id="idBT{{ t.id }}" name="idT"  value="{{ t.id }}"/>
                      <input type='hidden' id="idB{{ s.id }}" name="id"  value="{{ s.id }}"/>
                      <input type='hidden' id="qteB{{ s.id }}" name="qte"  value="1"/>
                      <button onclick="refresh(); refresh2(); refresh3()" class="btn btn-sm btn-primary" type="button" id-moinst="{{t.id}}" id-moins="{{ s.id }}" name="btBaisserQte" value="-"> - </button>
                    </form>
                    <!--pop-up si seuil atteint ou si rupture de stock-->
{#                     {% if s.qte <= s.seuil %}
                      {% if s.qte >= "1" %}
                          <script>alert("le seuil est atteint pour le produit : {{s.libelle}} ")</script>
                      {% else %} 
                          <script>alert("Rupture de stock pour le produit : {{s.libelle}}")</script>
                      {% endif %}
                    {% endif %} #}
                  </td>

                  <td> 
                    <div class="btn-group btn-group-lg">
                      <a href="index.php?page=modif-sousproduit&id={{ s.id }}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                          </svg>
                        </span>
                      </a>
                    </div>
                  </td>

                  <td>
                      <FONT color="#4DC586"> 
                        <a class="open-button" style="cursor: pointer;" onclick="openForm{{ s.id }}_{{ t.id }}()">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                          </span>
                        </a>
                      </FONT>
                    <!-- style pour la popup -->
                    <style>
                      /* style pour la position de la forme de la Popup */
                      .login-popup {
                      position: relative;
                      text-align: center;
                      width: 100%;
                      }
                      /* style pour masquer la forme de la Popup */
                      .form-popup {
                      display: none;
                      position: fixed;
                      left: 45%;
                      top:20%;
                      transform: translate(-45%,5%);
                      border: 2px solid #666;
                      z-index: 9;
                      }
                      /* Style pour le conteneur de la forme */
                      .form-container {
                      max-width: 300px;
                      padding: 20px;
                      background-color: black;
                      }
                      /* Style pour le bouton "oui" */
                      .form-container .btn {
                      background-color: #4DC586;
                      color: #fff;
                      padding: 12px 20px;
                      border: none;
                      cursor: pointer;
                      width: 100%;
                      margin-bottom:10px;
                      opacity: 0.8;
                      }
                      /* Style pour le bouton "annuler" */
                      .form-container .cancel {
                      background-color: #cc0000;
                      }
                      /* style pour les effets des boutons */
                      .form-container .btn:hover, .open-button:hover {
                      opacity: 1;
                      }
                    </style>
                    <div class="login-popup">
                      <div class="form-popup animate__animated animate__rubberBand" id="popupForm{{ s.id }}_{{ t.id }}">
                        <form action="/action_page.php" class="form-container">
                          <h4>Vous êtes sur le point de supprimer le produit : {{s.libelle}}</h4>
                          <h4>En êtes-vous sûr ?</h4>
                          <br>
                          <br>
                          <a href="index.php?id={{s.id}}" type="submit" class="btn"><b>Oui, je suis sûr</b></a>
                          <a type="button" class="btn cancel" onclick="closeForm{{ s.id }}_{{ t.id }}()"><b>Non, annuler</b></a>
                        </form>
                      </div>
                    </div>
                    <!-- javascript pour la popup -->
                    <script>
                      function openForm{{ s.id }}_{{ t.id }}() {
                        document.getElementById("popupForm{{ s.id }}_{{ t.id }}").style.display="block";
                      }
                      function closeForm{{ s.id }}_{{ t.id }}() {
                        document.getElementById("popupForm{{ s.id }}_{{ t.id }}").style.display="none";
                      }
                    </script>
                  </td>
                </tr>
              {% endif %}                           
            {% endfor %}  
          </table>
        </div>
      </div>
    </div>
    {% endfor %}  
    </tr>
    </tr>
  </div>
  </div>
  </table>
                </h6>
      </div>
    </div>
  </a>
  <a href="index.php?page=ajout-type">Ajouter un nouveau type de produit</a>
  <br>
  <a href="index.php?page=ajout-sousproduit">Ajouter un nouveau produit</a>
  </div><br>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/test.js"></script>
{% endblock %} 