{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Résultat de votre recherche {% endblock %}
{% block contenu %}

<div style="text-align: center; padding-top:5%">
<h1 class="h3 mb-3 font-weight-normal">Vous avez recherché la référence : "{{form.recherche}}{{uneRecherche}}{{recherche}}{{sousproduit.uneRecherche}}{{sousproduit.recherche}}"</h1>
<br><br> 
{% if listeRecherche == null %}
<div style="text-align:center">
  <h2> Aucun résultat n'a été trouvé pour cette recherche  </h2> <br> <br>
  <a type="button" href="index.php?" class="btn btn-primary"> <FONT color="white"> Retourner à l'accueil </FONT></a>
  </div>
{% else %}
<div id="#result-search">
<h2>Résultat de votre recherche :</h2>

<br><br><br>

        <div style="padding-left:5%; padding-right:5%">
          <div class="panel panel-default animate__animated animate__fadeInDown" >
            <div class="table-responsive">
              <table class="table table-hover">
                <tr class="table-success"><th scope="row" >Nom du produit </th><th scope="row">Quantité</th><th scope="row">Fabricant</th><th scope="row">Référence</th><th scope="row">Stock</th><th scope="row">Commentaire</th><th scope="row">+</th><th scope="row">-</th><th></th><th></th></th></tr>
            
                {% for s in listeRecherche %}
                <tr class="table-dark" > 
                  <td> {{s.libelle}}</td>
							    <td>
                    <div id="output{{ s.id }}" name="output">
                      {% if s.qte <= s.seuil %}
                        {% if s.qte >= "1" %}
                          <FONT color="orange"> 
                            <b>
                              {{s.qte}}  
                            </b>
                          </FONT>
                        {% else %} 
                          <FONT color="red"> 
                            <b>
                              {{s.qte}}
                            </b>
                          </FONT> 
                        {% endif %}
                      {% else %} 
                        {{s.qte}}
                      {% endif %}
                    </div>
                  </td>
                  <td>{{s.fabricant}}</td>
                  <td>{{s.reference}}</td>
                  <td>
                    <div id="outputt{{ s.id }}" name="output">
                      {% if s.qte <= s.seuil %}
                        {% if s.qte >= "1" %}
                          <FONT color="orange"> 
                            <b>
                              Encore en stock mais seuil atteint
                            </b>
                          </FONT>
                        {% else %} 
                          <FONT color="red"> 
                            <b>
                              Produit en rupture de stock
                            </b>
                          </FONT> 
                        {% endif %}
                      {% else %} 
                        Produit en stock
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    {% if form.valide is defined %}
                      <div id="check{{ s.id }}">
                        {% if form.valide == true %}
                          <h1> modif reussiiii </h1>
                            <FONT color="#4DC586">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                              </svg>
                            </FONT>
                        {% else %}
                          <h1> echec de la modif </h1>
                        {% endif %}
                      </div>
                    {% else %}
                      <form action="index.php" method="post">
                        <input type='hidden' id="idC{{ s.id }}" name="id"  value="{{ s.id }}"/>
                        <textarea type='message' cols="1" rows="2" class="form-control" size="10" id="commentaire{{s.id}}" name="commentaire"  
                          value="{{s.commentaire}}">{{s.commentaire}}</textarea>
                        <div style="text-align:left">
                        <button onclick="refresh4()" type="button" id-com="{{ s.id }}" name="btModifCom" class="btn btn-sm btn-primary" value="Modifier">Modifier</button>
                        <span class="res{{ s.id }} animate__animated animate__fadeInDown"></span>
                        </div>
                      </form>
                    {% endif %}
                
                    <script type="text/javascript">
                      var auto_refresh = setInterval(
                      function refresh4()
                      { 
                        $('#check{{ s.id }}').load('index.php?page=recherche #check{{ s.id }}').fadeIn('slow');
                      }, 10000);
                    </script>
                  </td>

                  <td>
                    <a name="monAncre{{t.libelle}}"></a>
                    <form action="index.php" method="post">
                      <input type='hidden' id="idP{{ s.id }}" name="id"  value="{{ s.id }}"/>
                      <input type='hidden' id="qte{{ s.id }}" name="qte"  value="1"/>
                
                      <div id="btbt{{ s.id }}" >
                        <button onclick="refresh(); refresh2(); refresh3()" class="btn btn-sm btn-primary" type="button" id-plust="{{t.id}}" id-plus="{{ s.id }}" name="btAugmenterQte" value="+"> + </button>
                      </div>
                    </form>
                  </td>

                  <td>
                    <form action="index.php" method="post">
                      <input type='hidden' id="idPT{{ t.id }}" name="idT"  value="{{ t.id }}"/>
                      <input type='hidden' id="idBT{{ t.id }}" name="idT"  value="{{ t.id }}"/>
                      <input type='hidden' id="idB{{ s.id }}" name="id"  value="{{ s.id }}"/>
                      <input type='hidden' id="qteB{{ s.id }}" name="qte"  value="1"/>
                      <button onclick="refresh(); refresh2(); refresh3()" class="btn btn-sm btn-primary" type="button" id-moinsT="{{ t.id }}" id-moins="{{ s.id }}" name="btBaisserQte" value="-"> - </button>
                    </form>
{#                     {% if s.qte <= s.seuil %}
                      {% if s.qte >= "1" %}
                        <script>alert("le seuil est atteint pour le produit : {{s.libelle}} ")</script>
                      {% else %} 
                        <script>alert("Rupture de stock pour le produit : {{s.libelle}}")</script>
                      {% endif %}
                    {% endif %} #}
                  </td>

                  <td> 
                    <div class="btn-group btn-group-lg">
                      <a href="index.php?page=modif-sousproduit&id={{ s.id }}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                          </svg>
                        </span>
                      </a>
                    </div>
                  </td>

                  <td>
                      <FONT color="#4DC586"> 
                        <a class="open-button" style="cursor: pointer;" onclick="openForm{{ s.id }}()">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                          </span>
                        </a>
                      </FONT>
                    <!-- style pour la popup -->
                    <style>
                      /* style pour la position de la forme de la Popup */
                      .login-popup {
                      position: relative;
                      text-align: center;
                      width: 100%;
                      }
                      /* style pour masquer la forme de la Popup */
                      .form-popup {
                      display: none;
                      position: fixed;
                      left: 45%;
                      top:5%;
                      transform: translate(-45%,5%);
                      border: 2px solid #666;
                      z-index: 9;
                      }
                      /* Style pour le conteneur de la forme */
                      .form-container {
                      max-width: 300px;
                      padding: 20px;
                      background-color: black;
                      }
                      /* Style pour le bouton "oui" */
                      .form-container .btn {
                      background-color: #4DC586;
                      color: #fff;
                      padding: 12px 20px;
                      border: none;
                      cursor: pointer;
                      width: 100%;
                      margin-bottom:10px;
                      opacity: 0.8;
                      }
                      /* Style pour le bouton "annuler" */
                      .form-container .cancel {
                      background-color: #cc0000;
                      }
                      /* style pour les effets des boutons */
                      .form-container .btn:hover, .open-button:hover {
                      opacity: 1;
                      }
                    </style>
                    <div class="login-popup">
                      <div class="form-popup animate__animated animate__rubberBand" id="popupForm{{ s.id }}">
                        <form action="/action_page.php" class="form-container">
                          <h4>Vous êtes sur le point de supprimer le produit : {{s.libelle}}</h4>
                          <h4>En êtes-vous sûr ?</h4>
                          <br>
                          <br>
                          <a href="index.php?id={{s.id}}" type="submit" class="btn"><b>Oui, je suis sûr</b></a>
                          <a type="button" class="btn cancel" onclick="closeForm{{ s.id }}()"><b>Non, annuler</b></a>
                        </form>
                      </div>
                    </div>
                    <!-- javascript pour la popup -->
                    <script>
                      function openForm{{ s.id }}() {
                        document.getElementById("popupForm{{ s.id }}").style.display="block";
                      }

                      function closeForm{{ s.id }}() {
                        document.getElementById("popupForm{{ s.id }}").style.display="none";
                      }
                    </script>
                  </td>
                </tr>                         
            {% endfor %}  
          </table>
        </div>
      </div>
    </div>
    <a type="button" href="index.php?" class="btn btn-primary"> <FONT color="white"> Retourner à l'accueil </FONT></a>
 </div>
    {% endif %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/test.js"></script>

{% endblock %}